PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=clubmanager
DB_USER=clubmanager_app
DB_PASSWORD=change_me
DB_READ_CATEGORIES=false
DB_READ_PLAYERS=false
DB_READ_CHAMPIONSHIPS=false
DB_READ_MATCHES=false
DB_READ_TRAININGS=false
DB_READ_PLAYER_CHAMPIONSHIPS=false
DB_READ_INVITATIONS=false
DB_READ_USERS=false
DB_READ_ROLES=false
DB_READ_PROFILE=false
DB_PROFILE_USER_ID=3
DB_READ_INVITATIONS=false


JWT_SECRET=tu_clave_super_secreta
JWT_EXPIRES_IN=1d